apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
  namespace: crypto-streaming
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/grafana-data"

---
# 2. Tạo Persistent Volume Claim (Vé yêu cầu sử dụng storage)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: crypto-streaming
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi